head {
    margin-top: auto;
    padding:auto; color:azure
    color: whitesmoke;
}

body {
    height:470px;
    padding:89px;
    margin:50px;
    background-color: black;
    color: white;
}
h1{
    padding: 50px;
    color: white;
}